#fetch {
  color: white;
  opacity: 1;
}
#weatherData {
  color: white;
  opacity: 1;
}

h2 {

  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  font-weight:lighter;
  color: white;
  opacity: 1;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
header {
    text-align: center;
}
input {
    border: none;
    margin-bottom: 20px;
    opacity: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    text-align: center;
}
input:focus {
    outline: none;
}
button {

}
h4 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  font-size: 20px;
  opacity: 1;
}
div {
  padding-top: 50px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  /*background-color: #5b8fb7;*/
  background-color: #ccdef9;
  text-align: center;

  opacity: .85;
  width: 400px;
  height: 300px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 10px;
}
body {
    background-image: url("background.jpg");
    background-color: white;
    background-size:cover;
}
